@media screen and (min-width:768px) {
    body {
        color:rgb(255, 0, 0);
        font-size: 100%;
    }
}
@media screen and (max-width:480px) {
    body {
        color:rgb(0, 0, 0);
        font-size: 200%;
    }
    h1 {
        text-align: center;
    }
    h2 {
        font-size: 40px;
        margin-bottom: 0;
    }
    input {
        width: 100%;
    }
    p {
        margin: 0;
    }
    input[type='radio'] {
        width: 15%;
    }
    input.button {
        width: 40%;
    }
    .Button {
        text-align: center;
    }
}