/*
filename: [Nguyen Hoang Trung]
author: [Nguyễn Hoàng Trung]
created: [13/01]
last modified: [enter date]
description: [html files it refers to lab04.html]
*/
h1 {
    color: purple;
    font-size: 2em;
    font-weight:bold;
}

* {
    color: #2F4F4F;
}

h2 {
    color: rgb(0,128,128);
    font-weight: bold;
    font-size: 1.5em;
}

aside, footer {
    font-style: italic;
}

h1, h2, h3 {
    font-family: Arial, sans-serif;
}

table, th, td {
    border: 1px solid black;
}

#heading{
    color: red;
}

#images {
    text-align: center;
}

.special {
    color: darkorange;
    font-weight: bold;
}

.month {
    text-align: right;
}

nav a {
    text-decoration: none;
    padding: 0.2em 0.6em;
    border: 4px solid #ccc;
}

ol ul{
    list-style: square;
}

aside:hover {
    visibility: hidden;
}

nav a:hover {
    background-color: lightblue;
    border-color: darkblue;
}

