/* media query for display: under 500 */
@media screen and (max-width: 31.25em) {
    header h1 {
        font-size: 48px;
        padding: 0;
        text-align: center;
    }
    nav ul li {
        width: 50%;
    }
    #section1, #section2, #section3 {
        margin: 0;
        float: none;
        width: 100%;
    } 
    img {
        display: block;
        margin:0 auto;
    }
    article {
        min-width: 315px;
    }
}