*{
  font-family: 'Exo 2';
}

body{
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/*navigation bar*/
/*NavBar-------------------------------------*/
nav {
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 70px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.Nav {
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0;
  gap: 3vw;
}

.Nav li {
  display: inline-block;
  list-style: none;
  height: 60px;
  margin: 0 20px ;
}

nav .Nav-Logo {
  font-size: 40px;
  line-height: 70px;
  margin-left: 30px;
  color: white;
}

.Nav li a {
  text-decoration: none;
  color:rgb(255, 255, 255);
  font-size: 1.3rem;
  line-height: 60px;
}

.Nav li a span {
  height:65px;
  display: inline-block;
  line-height: 70px;
  border-bottom: 5px solid transparent;
  transition: all .5s ease-out;
}

.Nav li.Nav-List-Active span{
  border-bottom: 5px solid rgb(255, 255, 255);
}

.Nav li:hover span{
  border-bottom: 5px solid rgb(255, 255, 255);
}

.Nav-Button a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  line-height: 70px;
  margin-right: 30px;
  font-size: 1.3rem;
  background: rgb(0, 0, 0);
  padding: 0.3vw 1vw;
  border: 2px solid white;
  border-radius: 50px;
  transition: all .5s;
}

.Nav-Button:hover a {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#Nav-Check {
  font-size: 30px;
  color: rgb(255, 255, 255);
  float: right;
  line-height: 70px;
  margin-right: 40px;
  cursor: pointer;
  display:none;
}

#Check{
  display: none;
}
/*-------------------------------------------*/
.Home {
  overflow:hidden;
}
.Home-Header-Background {
  height: fit-content;
  background-image: url('images/Home-Background.jpg');
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  align-items: center;
  padding: 7vw;
}

.Home-Header-Content h1{
  width: 100%;
  font-size: 6rem;
  font-weight: bold;
  color: white;
}

.Home-Header-Content p{
  width:40%;
  font-size: 2rem;
  color: white;
  margin-bottom: 2vw;
}

.Home-Header-Content a {
  font-size: 1rem;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 1vw 2vw;
  border-radius: 10px;
  text-decoration: none;
  transition: all .5s;
}

.Home-Header-Content a:hover {
  font-size: 1rem;
  background-color: rgb(0, 0, 0);
  color: white;
}


.Home-Header-Content a i{
  font-size: 1rem;
  margin-left: 1vw;
}

.Home-Article {
  display: flex;
  flex-direction: column;
}

.Home-Introduction {
  width: 100%;
  padding: 3vw 0;
  background-image: url('images/Intro-Image.png');
  background-size: cover;
  background-position: center;
}

#Home-Intro-Brief-Title p{
  margin-left: 10vw;
}

#Home-Intro-Brief-Description h2{
  font-size: 3rem;
  width: 40%;
  margin-left: 10vw;
}


#Home-Intro-Brief-Content {
  width: 100%;
}

#Home-Intro-Brief-Content-Facility h3 {
  font-size: 3rem;
} 

#Home-Intro-Brief-Content-Facility {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#Home-Intro-Brief-Content-Facility h3{
  flex-basis: 20%;
  font-size: 3rem;
  margin: 4vw;
  text-align: center;
}

#Home-Intro-Brief-Content-Facility-Detail {
  flex-basis: 60%;
  border-left: 5px solid black;
}

#Home-Intro-Brief-Content-Facility-Detail p {
  font-size: 1.5rem;
  margin-left: 1vw;
  width: 80%;
}

#Home-Intro-Brief-Content-People {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#Home-Intro-Brief-Content-People h3{
  flex-basis: 10%;
  font-size: 3rem;
  margin: 4vw;
  text-align: center;
}

#Home-Intro-Brief-Content-People-Detail {
  flex-basis: 60%;
  border-left: 5px solid black;
}

#Home-Intro-Brief-Content-People-Detail p {
  font-size: 1.5rem;
  margin-left: 1vw;
  width: 80%;
}

.Home-Jobs-Brief {
  display: flex;
  height: fit-content;
  flex-direction: row;
  background: rgb(225,240,247);
  padding: 4vw;
}

#Home-Jobs-Brief-Title p {
  margin: 0;
}

#Home-Jobs-Brief-Image {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
  padding: 2vw;
}

#Home-Jobs-Brief-Image img{
  width: 70%;
}

#Home-Jobs-Brief-Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;
}

#Home-Jobs-Brief-Description h2{
  font-size: 2.5rem;
  width: 80%;
  margin: 20px 0;
}

#Home-Jobs-Brief-Description p{
  font-size: 1.2rem;
  width: 80%;
  margin: 0;
}

#Home-Jobs-Brief-Button {
  margin: 20px 0;
}

#Home-Jobs-Brief-Button a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2vw 0;
  padding: 1vw 1.5vw;
  border-radius: 10px;
  background: white;
  box-shadow: none;
  transition: all .5s;
}

#Home-Jobs-Brief-Button:hover a{
  box-shadow: -3px 1px 6px rgba(108, 108, 108, 0.333);
}

.Home-Gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw 0;
}

#Home-Gallery-Title {
  width: 100%;
}

#Home-Gallery-Title p{
  width: 100%;
  text-align: center;
}

#Home-Gallery-Description h2 {
  font-size: 3rem;
  margin: 1vw;
}

.Home-Gallery-Images-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4px;
}

.Home-Gallery-Images-column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.Home-Gallery-Images-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


/*-------------------------------------------*/
header .Jobs-Header-Background {
  height: 100vh;
  background-image: url('images/Header-Background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 5vw;
}

.Jobs-Header-Content {
  width: 100%;
  color: white;
}

.Jobs-Header-Content h1 {
  width: 100%;
  font-size: 8rem;
  text-align: center;
}

.Jobs {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin: 20px 0
}

.Jobs-Article {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  gap: 20px;
}

.Jobs-Article  section {
  width: 100%;
  margin: auto;
}

.accordion {
  width: 100%;
  height: fit-content;
  padding: 0;
  margin: 0;
}

.accordion .accordion-list {
  list-style: none;
  margin: 0;
  width: 100%;
  border: 1px double lightgrey;
  border-radius: 23px;
  box-shadow: 0 0 black;
  background-color: white;
  position: relative;
}


.Content label {
  padding: 30px;
  display: flex;
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
  flex-direction: column;
  border-radius: 23px 23px 23px 23px;
  color: white;
  line-height: 36px;
  cursor: pointer;
  height: fit-content;
  transition: border-radius 1s;
}


#Section-1-Content label {
  background-image: url('images/Job1.jpg');
  background-position: center;
  background-size: cover;
}

#Section-2-Content label {
  background-image: url('images/Job2.jpg');
  background-position: center;
  background-size: cover;
}

#Section-3-Content label {
  background-image: url('images/Job3.jpg');
  background-position: center;
  background-size: cover;
}

label .Content-Title {
  text-align: center;
  font-size: 3rem;
  padding: 0;
  margin: 15px;
  font-weight: bold;
  transition: margin 1s, transform 1s, font-size 1s;
}

label .Content-Detail{
  opacity: 1;
  transition: opacity 1s;
  max-height: 200px;
  overflow: hidden;
  font-size: 1.2rem;
  margin: 0 30px;
  line-height: 28px;
  transition: opacity 0.4s, max-height 0.8s ;
}

label .Content-Title:after {
  content: url('images/icon/icons8-arrow-down-50.png');
  float:right;
  transform: rotate(0deg) scale(0.6);
  transition: transform 1s;
}

.accordion-radio[type='radio'] {
  display: none;
}

.Job-Description {
  margin:  0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s;
  line-height: 2rem;
  font-size: 1.5rem;
  transition: max-height 1s;
}

.Job-Description h2 {
  text-align: center;
  font-size: 2.5rem;
}

.Job-Description h3, p {
  margin: 10px;
}

.Content .accordion-radio[type='radio']:checked ~ .Job-Description {
  max-height: fit-content;
  margin:  20px 25px 5px;
}

.Content .accordion-radio[type='radio']:checked + label {
  border-radius: 23px 23px 0 0;
}

.Content .accordion-radio[type='radio']:checked + label > .Content-Detail {
  opacity: 0;
  max-height: 0;
}

.Content .accordion-radio[type='radio']:checked + label > .Content-Title {
  font-size: 2.7rem;
  margin: 4% 0%;
  font-weight: 1000;
}

.Content .accordion-radio[type='radio']:checked + label > .Content-Title:after {
  transform: rotate(180deg) scale(0.6);
  float:right;
}

.Button {
  max-height: 0;
  overflow: hidden;
  transition: max-heigth 0.1s;
}

.Content .accordion-radio[type='radio']:checked ~ .Button {
  max-height: 80px;
  margin: 10px 0 10px;
  width: auto;
}

.Content .accordion-radio[type='radio']:checked ~ .Button > a {
  float: right;
  margin: 5px 10% 15px ;
  padding: 1% 4%;
  border-radius: 25px;
  border: 2px solid black;
  font-size: 24px;
  background-color: transparent;
  box-shadow: none;
  transform: scale(1);
  transition: background-color 0.5s, box-shadow 0.5s, transform 0.5s;
}

.Content .accordion-radio[type='radio']:checked ~ .Button > a:hover {
  box-shadow: 2px 5px 10px rgb(188, 188, 188);
  transform: scale(1.02);
}

.Content .accordion-radio[type='radio']:checked ~ .Button > a {
  text-decoration: none;
  color: black;
}

.Details-list-requirments {
  list-style: circle;
}

aside {
  flex-basis: 30%;
}

.Aside {
  flex-basis: 40%;
  display: flex;
  padding: 20px;
  width:100%;
  border: 1px double rgb(121, 121, 121);
  border-radius: 23px;
}

.Aside p {
  font-size: 1.2rem;
}

.Aside div a {
  display: block;
  width: fit-content;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5vw 1vw;
  background: black;
  color: white;
  margin: 10px 0;
  border-radius: 30px;
  border-radius: 0;
  transition: all .5s;
}

.Aside a:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid black;
}

.Enhancement-Header-Background {
  height: fit-content;
  background: white;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  align-items: center;
  padding: 7vw;
}

.Enhancement-Header-Background {
  height: fit-content;
  background: white;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  align-items: center;
  padding: 7vw;
}

.Enhancement-Header-Content {
  color: black;
  width: 100%;
  text-align: center;
  font-size: 5vw;
}

.Section-Head {
  display: flex;
  align-items: center;
}

.Section-Head h2 {
  font-size: 4rem;
  width: 100%;
  text-align: center;
  flex-basis: 40%;
}

.Section-Head hr{
  border: 5px solid black;
  flex-basis: 60%;
  width: 100%;
}

.Section-Detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 40px;
  justify-content: space-between;
}

.Section-Detail p{
  font-size: 1.5rem;
  flex-basis: 50%;
  width: 100%;
}
.Section-Detail img{
  font-size: 1.5rem;
  flex-basis: 40%;
  width: 40%;
}
#section-2 a{
  display: block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background: white;
  border: 2px solid black;
  border-radius: 50px;
  padding: 1vw 1.5vw;
  width: fit-content;
  margin: 30px;
  font-weight: bold;
}

#section-2 a:hover{
  color: rgb(255, 255, 255);
  border: 2px solid black;
  background: black;
}

/* Heading -------------------------------------- */
#Apply-Background {
  background-color:rgb(11, 12, 16);
  height: 100%;
  width: 100%;
}

#apply-section1{
  width: 100%;
  padding-top:4vh;
  padding-bottom: 16vh;
  background-image:linear-gradient(rgba(0, 9, 44, 0.7),rgba(11, 12, 16, 1)), url('images/wallpaper.png');
  background-repeat: repeat-y;
  background-size:cover;
  background-blend-mode: luminosity;
  object-fit: cover;
}

#apply-section2{
  background-image: linear-gradient(rgba(11, 12, 16, 1),rgb(9, 43, 94),rgba(11, 12, 16, 1));
  padding-bottom: 1vh;
}

#apply-heading{
  font-weight:800;
  text-align: center;
  margin-top: 160px;
  font-size:10vw;
  color:#66FCF1;
}
  /*description*/

#apply-heading-description{
  text-align: center;
  margin: 0 25%;
  color:rgb(215, 215, 215);
  font-size: 1.3rem;
}

#apply-heading-description a{
  color:rgb(0, 209, 216);
  transition: 0.15s ease-out;
}

#apply-heading-description a:hover{
  color:#defffd;
}

  /*register button*/

#register{
  text-align: center;
  margin-top: 60px;
}

#register > a{
  display: inline-block;
  font-size: 30px;
  color:#00eedf;
  font-family:'Lucida Sans', sans-serif;
  border: 0.1em solid rgb(91, 249, 246);
  text-align: center;
  padding: 5px 10px;
  min-width: 140px;
  transition: 0.2s ease;
}

#register>a:hover{
  background-color: #66FCF1;
  color: #00324a;
  border: 0.1em solid #00324a;
  cursor: pointer;
}
/* ------------------------------------------- */
/* FORM-------------------------------- */
#Apply-Form{
  margin-top: 5vw;
  margin-bottom: 0;
  color:#66FCF1;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

#Apply-Form > fieldset{
  background-image:linear-gradient(#003a51, #001728);
  width: 70%;
  border:8px solid #00eedf;
  border-radius:20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#form-caption{
  margin: 1vh 0;
  padding:1vh 2vw;
  background-color: #5ceae0;
  border-radius:20px;
  color: rgb(0, 53, 71);
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.form_element{
  width:40%;
  margin: 5vh 2vw;
}

  /* Form - Section 1 */
#form_section1 p{
  display: flex;
  flex-direction: column;
}

.Form-Input{
  background-color: rgb(0, 98, 122);
  height:3vh;
  color: #ddf8f9;
  font-size: 1.2rem;
  border: 2px solid #4cceb8;
  border-radius: 5px;
}

input:focus{
  background-color: #66f2fc;
  color: #004b4d;
  font-weight: bold;
}

input::placeholder{
  color:#a0caca;
}

input:focus::placeholder{
  color: #004b4d;
}
#other-gender-text{
  width: 95%;
  margin:0 auto;
  margin-top:10px;

}

  /* Form - Section 2 */
#form_section2{
  padding-top:2.5vh;
}

textarea{
  background-color: rgb(0, 98, 122);
  height:3vh;
  color: #ecf6fa;
  font-size: 1.2rem;
  border: 2px solid #4cceb8;
  border-radius: 5px;
  resize: none;
  width:95%;
  height: 3rem;
  margin-top:10px;
}

textarea:focus{
  background-color: #66f2fc;
  font-weight: bold;
  color: #004b4d;
}

textarea::placeholder{
  color:#c8d3d7;
}

textarea:focus::placeholder{
  color: #004b4d;
}

select{
  background-color: rgb(0, 98, 122);
  color: #c8d3d7;
  font-size: 1.2rem;
  border: 2px solid #4cceb8;
  border-radius: 5px;
}
#form_buttons{
  display: flex;
  justify-content: space-around;
  width:50%;
}

  /* Form buttons */
#form_buttons input{
  font-size: 1.5rem;
  font-weight: bold;
  color:#00d2c4;
  border: 2px solid #00d0c2;
  border-radius: 20px;
  background-color: #001728;
  padding: 5px 10px;
  margin-bottom: 3vh;
  width:200px;
  height: 2.7rem;
  transition: 0.2s;
}

#form_buttons input:hover{
  background-color: #00d0c2;
  color:#001728;
  cursor: pointer;
}
/* ----------------------------------------- */

/* ABOUT ---------------------------------------------------------*/
    /* Definition list */
    dl{
      color:#044146;
  }
  .definition{
      background-color: #00b6aa;
      display: flex;
      justify-content: space-evenly;
      font-size:1.3rem;
      flex-direction: column;
      padding-block:50px;
  }
  #about-basic-title{
      background-color: white;
      width: 70%;
      margin:0 auto;
      margin-bottom: -5px;
      padding:20px 30px;
      font-size: 2.5rem;
      text-align: center;
  }
  
  .about-basic dt{
      font-weight: bold;
      min-width:200px;
  }
  
  .about-basic dt::after{
      content: ":";
  }
  .about-basic dd a{
      color:#039187;
      font-size:1.3rem;
      transition:0.2s;
  }
  .about-basic dd a:hover{
      color:#0ed1c4;
      font-size:1.3rem;
  }
  #email-icon{
      height: 3rem;
      width: 3rem;
      display:none;
      margin-top:-10px;
  }
  #email-icon > img{
      width: 3rem;
      transition:0.2s;
  }
  #email-icon > img:hover{
      filter: brightness(50%);
  }
  .about-basic{
      display:flex;
      background-color: white;
      width: 70%;
      margin:0 auto;
      margin-bottom: 15px;
      padding:30px;
  }
  
  #more-info-title{
      text-align: center;
      margin: 30px auto;
      margin-top:100px;
      font-size:2.5rem;
      background-color: white;
      padding-block: 30px;
      padding-inline:70px;
      color: #0addcf;
  }
  #more-info-img figure{
      line-height: 0;
  }
  #more-info-img{
      margin: 0 auto;
      display:flex;
      width:90%;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-block: 50px;
      gap:10px;
  }
  #more-info-img img{
      width: 300px;
      padding:20px;
      background-color: white;
  }
  figcaption{
      text-align: center;
      width: 300px;
      height: 50px;
      background-color: white;
      line-height: 1.5rem;
      padding:20px;
      padding-top:0;
  }
      /* Timetable */
  .UniLife-Timetable{
      color:#1f5b5e;
      background-color:#00b6aa;
      padding-block:40px;
      margin:100px 5%;
      border-radius: 20px;
  }
  .UniLife-Timetable h2{
      font-size: 3rem;
      text-align: center;
      color:#ffffff;
      margin:20px auto;
  }
  
  table {
      table-layout: fixed;
      width: 90%;
      margin: 0 auto;
      border-spacing: 0;
      border-radius:23px;
  }
  
  th {
      background-color:#00414d;
      color: white;
  }
  
  td, th {
      font-size: 1.1rem;
      padding: 1%; 
      border:1px solid black;
      text-align: center;   
      font-weight: bold;
  }
  td{
      background-color:#e2eded;
  
  }
  #Table-LeftTop {
      border-radius: 23px 0 0 0;
  }
  
  #Table-RightTop {
      border-radius: 0 23px 0 0;
  }
  
  #Table-LeftBottom {
      border-radius: 0 0 0 23px;
  }
  
  #Table-RightBottom {
      border-radius: 0 0 23px 0;
  }
  .Timetable-Selection{
      display: none;
  }
  .UniLife-Timetable input[type="radio"]{
      display: none;
  }
  /* sphere------------------------------- */
  :root{
      --ht:50px;
      --wd:110px;
  }
  
  .picture{
      position: absolute;
      width:calc(var(--wd)*2);
      height:calc(var(--ht)*2);
      border-top: 1px solid rgba(255, 255, 255, 0.468);
      border-left: 1px solid rgba(255, 255, 255, 0.493);
      border-radius: 5px;

  }
  
  #picture1{
      box-shadow: 30px -30px 20px rgba(0, 0, 0, 0.496);
  }
  #picture2{
      box-shadow: 20px -20px 15px rgba(0, 0, 0, 0.496);
  }
  #picture3{
      box-shadow: 10px -10px 60px rgba(0, 0, 0, 0.496);
  }
  #picture4{
      box-shadow: 0px -#001728 20px rgba(0, 0, 0, 0.496);
  }
  #picture5{
      box-shadow: -10px -10px 6px rgba(0, 0, 0, 0.496);
  }
  #picture6{
      box-shadow: -20px -20px 15px rgba(0, 0, 0, 0.496);
  }
  #picture7{
      box-shadow: -30px -30px 20px rgba(0, 0, 0, 0.496);
  }
  
  #sphere{
      width: 80%; 
      margin:100px auto;
      background-color: white;
      padding-block: 50px;
      border-radius: 20px;
  }
  #memories-title h2{
      text-align: center;
      margin: 0px auto;
      margin-bottom: 30px;
      font-size: 3rem;
      background-color: white;
      padding-inline:70px;
      color: #0addcf;
  }
  
  .sphere-container{
      margin:0 auto;
      display:flex;
      width:500px;
      height: 500px;
      justify-content: space-evenly;
      perspective:500px;
      perspective-origin: center center;
      border: 2px solid rgb(255, 255, 255);
      border-radius: 50%;
      background-image: linear-gradient(rgba(7, 74, 38, 0.76),rgba(6, 189, 125, 0.684));
      background-size: cover;
      transform: rotateZ(180deg);
  }
  .sphere-container:hover img{
      filter: grayscale(0%);
      transition:0.3s;
  }
  
  
  .sphere-container img{
      width:100%;
      filter: grayscale(70%);
      transform: rotateZ(-180deg)
  }
  
  #picture1{
      left:50%;
      animation: move1 3s linear infinite both;
  }
  @keyframes move1 {
      0%{        
          top: calc(0% - var(--ht));
          left: calc(50% - var(--wd));
          scale: 0%;
          opacity:0%;
          transform: rotate3d(1,-1,0,10deg);
      }
      16.66%{
          opacity:100%;
          scale:50%;
          left: calc(25% - var(--wd));
      }
      25%{
          left: calc(14.65% - var(--wd));
      }
      33.33%{
          left: calc(6.7% - var(--wd));
      }
      50%{
          scale:100%;
          left:calc(0% - var(--wd));
          scale: 100%;
          transform:rotate3d(0,-2,0,20deg);
      }
      66.66%{
          left: calc(6.7% - var(--wd));
      }
      75%{
          left: calc(14.65% - var(--wd));
      }
      83.34%{
          opacity:100%;
          scale: 50%;
          left: calc(25% - var(--wd));
      }
      100%{
          top: calc(100% - var(--ht));
          left: calc(50% - var(--wd));
          scale: 0%;
          opacity:0%;
          transform: rotate3d(-1,-1,0,10deg);
      }
  }
  
  #picture2{
      left:50%;
      animation: move2 3s linear 0.9s infinite both;
  }
  
  @keyframes move2 {
      0%{        
          top: calc(0% - var(--ht));
          left: calc(50% - var(--wd));
          scale: 0%;
          opacity:0%;
          transform: rotate3d(1,-0.7,0,10deg);
      }
      16.66%{
          opacity:100%;
          scale:50%;
          left: calc(32.5% - var(--wd));
      }
      25%{
          left: calc(25.25% - var(--wd));
      }
      33.33%{
          left: calc(19.69% - var(--wd));
      }
      50%{
          scale:100%;
          left:calc(15% - var(--wd));
          scale: 100%;
          transform: rotateX(0deg);
          transform:rotate3d(0,-1.4,0,20deg);
      }
      66.66%{
          left: calc(19.69% - var(--wd));
      }
      75%{
          left: calc(25.25% - var(--wd));
      }
      83.34%{
          opacity:100%;
          scale: 50%;
          left: calc(32.5% - var(--wd));
      }
      100%{
          top: calc(100% - var(--ht));
          left: calc(50% - var(--wd));
          scale: 0%;
          opacity:0%;
          transform: rotate3d(-1,-0.7,0,10deg);
      }
  }
  
  #picture3{
      left:50%;
      animation: move3 3s linear 1.8s infinite both;
  }
  
  @keyframes move3 {
      0%{        
          top: calc(0% - var(--ht));
          left: calc(50% - var(--wd));
          scale: 0%;
          opacity:0%;
          transform: rotate3d(1,-0.3,0,10deg);
  
      }
      16.66%{
          opacity:100%;
          scale:50%;
          left: calc(42.5% - var(--wd));
      }
      25%{
          left: calc(39.4% - var(--wd));
      }
      33.33%{
          left: calc(37% - var(--wd));
      }
      50%{
          scale:100%;
          left:calc(35% - var(--wd));
          scale: 100%;
          transform:rotate3d(0,-0.6,0,20deg);
  
      }
      66.66%{
          left: calc(37% - var(--wd));
      }
      75%{
          left: calc(39.4% - var(--wd));
      }
      83.34%{
          opacity:100%;
          scale: 50%;
          left: calc(42.5% - var(--wd));
      }
      100%{
          top: calc(100% - var(--ht));
          left: calc(50% - var(--wd));
          scale: 0%;
          opacity:0%;
          transform: rotate3d(-1,-0.6,0,10deg);
      }
  }
  
  #picture4{
      left:50%;
      animation: move4 3s linear 2.5s infinite both;
  }
  
  @keyframes move4 {
      0%{        
          top: calc(0% - var(--ht));
          left: calc(50% - var(--wd));
          scale: 0%;
          opacity:0%;
          transform: rotateX(10deg);
      }
      16.6%{
          scale: 50%;
          opacity: 100%;
      }
      50%{
          scale:100%;
          transform: rotateX(0deg);
  
      }
      83.3%{
          scale:50%;
          opacity:100%;
      }
      100%{
          transform: rotateX(-10deg);
          top: calc(100% - var(--ht));
          left: calc(50% - var(--wd));
          scale: 0%;
          opacity:0%;
      }
  }
  
  #picture5{
      left:50%;
      animation: move5 3s linear 0.69s infinite both;
  }
  
  @keyframes move5 {
      0%{        
          top: calc(0% - var(--ht));
          left: calc(50% - var(--wd));
          scale: 0%;
          opacity:0%;
          transform: rotate3d(1,0.2,0,10deg);
      }
      16.66%{
          opacity:100%;
          scale:50%;
          left: calc(57.5% - var(--wd));
      }
      25%{
          left: calc(60.9% - var(--wd));
      }
      33.33%{
          left: calc(63% - var(--wd));
      }
      50%{
          scale:100%;
          left:calc(65% - var(--wd));
          scale: 100%;
          transform:rotate3d(0,0.4,0,20deg);
      }
      66.66%{
          left: calc(63% - var(--wd));
      }
      75%{
          left: calc(60.9% - var(--wd));
      }
      83.34%{
          opacity:100%;
          scale: 50%;
          left: calc(57.5% - var(--wd));
      }
      100%{
          top: calc(100% - var(--ht));
          left: calc(50% - var(--wd));
          scale: 0%;
          opacity:0%;
          transform: rotateX(-10deg);
          transform: rotate3d(-1,0.2,0,10deg);
      }
  }
  
  #picture6{
      left:50%;
      animation: move6 3s linear infinite both;
  }
  
  @keyframes move6 {
      0%{        
          top: calc(0% - var(--ht));
          left: calc(50% - var(--wd));
          scale: 0%;
          opacity:0%;
          transform: rotate3d(1,-0.35,0,10deg);
      }
      16.66%{
          opacity:100%;
          scale:50%;
          left: calc(67.5% - var(--wd));
      }
      25%{
          left: calc(74.75% - var(--wd));
      }
      33.33%{
          left: calc(80.31% - var(--wd));
      }
      50%{
          scale:100%;
          left:calc(85% - var(--wd));
          scale: 100%;
          transform:rotate3d(0,1.4,0,20deg);
      }
      66.66%{
          left: calc(80.31% - var(--wd));
      }
      75%{
          left: calc(74.75% - var(--wd));
      }
      83.34%{
          opacity:100%;
          scale: 50%;
          left: calc(67.5% - var(--wd));
      }
      100%{
          top: calc(100% - var(--ht));
          left: calc(50% - var(--wd));
          scale: 0%;
          opacity:0%;
          transform: rotate3d(-1,-0.35,0,10deg);
      }
  }
  
  #picture7{
      left:50%;
      animation: move7 3s linear 0.3s infinite both;
  }
  @keyframes move7 {
      0%{        
          top: calc(0% - var(--ht));
          left: calc(50% - var(--wd));
          scale: 0%;
          opacity:0%;
          transform: rotate3d(1,1,0,10deg);
      }
      16.66%{
          opacity:100%;
          scale:50%;
          left: calc(75% - var(--wd));
      }
      25%{
          left: calc(85.35% - var(--wd));
      }
      33.33%{
          left: calc(93.3% - var(--wd));
      }
      50%{
          scale:100%;
          left:calc(100% - var(--wd));
          scale: 100%;
          transform:rotate3d(0,2,0,20deg);
      }
      66.66%{
          left: calc(93.3% - var(--wd));
      }
      75%{
          left: calc(85.35% - var(--wd));
      }
      83.34%{
          opacity:100%;
          scale: 50%;
          left: calc(75% - var(--wd));
      }
      100%{
          top: calc(100% - var(--ht));
          left: calc(50% - var(--wd));
          scale: 0%;
          opacity:0%;
          transform: rotate3d(-1,1,0,10deg);
      }
  }

  #About-Us-Bacground {
    background-color:rgb(11, 12, 16);
  }

/*Footer Styling----------------------------*/
footer {
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  margin-top: 20px;
  padding: 80px 0px 30px;
  bottom: 0;
  line-height: 40px;
  font-size: 1.2rem;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2), .col:nth-child(3) {
  flex-basis: 15%;
}

.Footer-Logo{
  font-size: 3.5rem;
}

.col h3 {
  width: fit-content;
  margin-bottom: 30px;
  margin-top: 0;
}

.Footer-Menu-List {
  padding: 0px;
}

.Footer-Menu-List li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.Footer-Menu-List li {
  list-style: none;
  margin-bottom: 12px;
}

form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin-bottom: 50px;
}

#Footer-Form  form .fa-regular.fa-envelope {
  font-size: 18px;
  margin-right: 10px;
}

#Footer-Form  form input{
  width: 100%;
  background: transparent;
  color: rgb(255, 255, 255);
  border:0;
  outline:none;
}

#Footer-Form  form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

#Footer-Form form button .fa-solid.fa-arrow-right {
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.Footer-Form-Social .fa-brands {
  width: 40px;
  height:40px;
  text-align: center;
  line-height: 40px;
  color: rgb(255, 255, 255);
  font-size: 40px;
  margin-right: 15px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s, color 0.3s;
}

.Footer-Form-Social .fa-brands:hover {
  transform: scale(1.2);
}

.Footer-Form-Social .fa-facebook-f:hover{
  color: rgb(1, 101, 225);
}

.Footer-Form-Social .fa-youtube:hover{
  color: rgb(255, 0, 0);
}

.Footer-Form-Social .fa-github:hover{
  color: rgb(255, 255, 255);
}

.Footer-Form-Social .fa-tiktok:hover{
  color: rgb(255, 255, 255);
}

#Footer-hr {
  width: 90%;
  border-bottom: 2px solid rgb(0, 0, 0);
  margin: 20px auto;
}

#Footer-Copyright {
  width: 90%;
  margin: auto;
}


